.register{
    margin: auto;
    width: 80vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .registerContain {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .registerInput{
    height: 20px;
    padding: 14px;
  }
  
  .registerBtn {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .registerBtn:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }

  .passwordInput{
    padding-left: 1rem;
    height: 3rem;
  }

  .loginPage>p{
    margin-top: .4rem;
  }