.reserve {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rContainer {
    background-color: white;
    padding: 1.6rem;
    position: relative;
    z-index: -1;
  }
  
  .rClose {
    position: absolute;
    font-size: 1.4rem;
    color: rgb(44, 44, 44);
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  
  .rItem {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    z-index: 1;
  }
  
  .rInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .rMax {
    font-size: 12px;
  }
  
  .rSelectRooms{
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    font-size: .9rem;
    color: gray;
  }
  
  .rooms{
    display: flex;
    flex-direction: column;
  }
  
  .rButton {
    border: none;
    padding: 10px 20px;
    background-color: #f51717;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
  }

  .rooms>input:disabled{
    cursor: not-allowed;
  }