.hotelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.hotelWrap {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.hotelTitle {
  margin: 0;
  font-size: 24px;
}

.hotelDistance {
  color: rgb(0, 73, 122);
  font-weight: bolder;
}

.hotelAddress {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.hotelPrice {
  color: rgb(0, 150, 0);
  font-weight: bolder;
}

.hotelImgWrap {
  width: 32%;
}

.hotelImg {
  width: 100%;
  object-fit: cover;
}

.hotelImgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bookNow {
  font-weight: bolder;
  border-radius: 0.6rem;
  font-size: 1rem;
  position: absolute;
  top: 10px;
  right: 0;
  border: none;
  padding: 1rem;
  color: white;
  background-color: #f13b35;
}

.hotelDetails {
  display: flex;
  justify-content: space-between;
  gap: 26px;
}

.hotelDetailsText {
  flex: 3;
}

.hotelDetailsPrices {
  flex: 1;
  background-color: rgb(255, 204, 169);
  padding: 1rem 2rem;
  border-radius: 4px;
}

.hotelDetailsPrices > h1 {
  font-size: 20px;
  color: rgb(44, 44, 44);
}

.hotelDetailsPrices > h2 {
  font-weight: 400;
}

.hotelDetailsPrices > button {
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  color: white;
  background-color: #ee2a24;
  border-radius: 0.4rem;
  font-weight: bold;
  cursor: pointer;
}

.hotelDetailsPrices > button:hover {
  background-color: #fa453e;
}

.slider{
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.613);
  z-index: 999;
  display: flex;
  align-items: center;
}
.sliderWrap{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImg{
  width: 70%;
  height: 76vh;
  object-fit: cover;
}

.close{
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  color: rgb(219, 219, 219);
  cursor: pointer;
}

.arrow-left{
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translate(-60%,-80%);
  margin: 20px;
  font-size: 40px;
  color: lightgray;
  cursor: pointer;
}
.arrow-right{
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(-60%,-80%);
  margin: 20px;
  font-size: 40px;
  color: lightgray;
  cursor: pointer;
}

.hotelDetailsPrices>h2>small{
  font-weight: bold;
  font-size: 16px;
}

@media screen and (max-width: 640px) {
  .hotelAdd{
    width: 60%; 
  }
}
