.mail{
    width: 100%;
    background-color: #6d787d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 1.6rem;
}

.mail>h1{
    margin-bottom: 0;
}

.mailInputContainer{
    height:50px;
    background-color: #6d787d;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    border: 4px;
    cursor: pointer;
}

.mailInputContainer>input{
    padding-left: 1rem;
    width: 12rem;
    height: 2.6rem;
    border: none;
    font-weight: bold;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.mailInputContainer>button{
    height: 2.7rem;
    font-size: 1.2rem;
    font-weight: 500;
    border: 2px solid rgb(41, 41, 41);
    background-color: rgb(54, 54, 54);
    color: white;
    cursor: pointer;
    padding: 0 1rem;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.mailInputContainer>button:hover{
    border: 2px solid rgb(54, 54, 54);
    background-color: rgb(77, 77, 77);
}