body{
    padding: 0;
    margin: 0;
}

.navbar{
    background-color:rgb(238,27,55);
    color: white;
    width: 100vw;
}

.logo{
    font-weight: bolder;
}

.navContainer{
    height: 3rem;
    margin: 0 auto;
    padding: 1.6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    font-size: 2rem;
}

.btn{
    font-family: inherit;
    font-size: 1.2rem;
    margin-left: .6rem;
    border: none;
    padding: .2rem .4rem;
    border-radius: .2rem;
    cursor: pointer;
}

.loggedUser {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.adminBtn{
    background-color: #f0f0f0;
    padding: .2rem .4rem;
    border-radius: .2rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}